@tailwind base;
@tailwind components;
@tailwind utilities;

footer {
    background: url(./homeImages/footerImg.jpg), no-repeat ;
    background-position: 60% 45%;
    box-shadow: inset 0 0 0 2000px rgba(42, 52, 55, 0.7);

}
.home{
    background: url(./homeImages/heroImg.jpg);
    background-position: 40% 50%;
    box-shadow: inset 0 0 0 2000px rgba(42, 52, 55, 0.5);
    background-size: cover;
}